<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container">
        <div class="nav navbar-nav">
          <%= link_to "Home" , "/" , class: "nav-item nav-link" %>
            <%= link_to "Two" , "/pages/two" , class: "nav-item nav-link" %>
              <%= link_to "Three" , "/pages/three" , class: "nav-item nav-link" %>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
